body{
	background: #BDBDBD;
	margin: 0;
}

.my_pic{
position: relative;
width: 800px;
height: auto;
border: 0;
padding: 0;
display: block;
}

.post_text{
  width: 600px;
  	margin: auto;
  	text-align: center;
}

.logo{
  width: 100px;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.button{
  padding: 10px;
  margin: 5px;
  width: 100px;
  border-radius: 5px;
  font-size: 18px;
  color:black;
  cursor: pointer;
  position: relative;
  left: 30px;

}
