body{
	background: rgb(237, 237, 237);
	margin: 0;
}

.my_pic{
width: 500px;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
width: 45%;
}

.card{
width: 45rem;
margin: auto;
}

.post_text{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 100px;
  position: absolute;
  left: 10px;
  top: 35px;
  z-index: -1;
}

.title{
 position: absolute;
 left: 74px;
 top: 60px;
 color: blue;
 font-weight: bold;
 font-family: Verdana, sans-serif;
}

.button{
  padding: 10px;
  margin: 5px;
  width: 100px;
  border-radius: 5px;
  font-size: 18px;
  color:black;
  cursor: pointer;
  position: relative;
  left: 30px;

}
